In [2]:
from datetime import datetime as dt

In [3]:
now = dt.now()

In [7]:
print(now)
print(now.year)  # just the year
print(now.time()) # a time object, no date
print(now.date())
print(now.time())
print(type(now.time()))

2023-01-21 21:34:03.389455
2023
21:34:03.389455
2023-01-21
21:34:03.389455
<class 'datetime.time'>

In [4]:
# convert a time string to a datetime object
t0_string = "07:00:00"
time_format="%H:%M:%S"
t0_wrong = datetime.strptime(t0_string, time_format)
print(t0_wrong)   # wrong date

NameError: name 'datetime' is not defined

In [ ]:
# 
# convert t0 to synthetic datetime based on today's date
t0_corrected = datetime.combine(now, t0_wrong.time())
print(t0_corrected) # correct date

In [ ]:
delta = now - t0_corrected
delta_sec = delta.total_seconds()
print(delta_sec)
print(delta_sec/(60 * 60.0))

In [5]:
print (now.total_seconds())

AttributeError: 'datetime.datetime' object has no attribute 'total_seconds'

In [8]:
print(now)
now.timestamp()
now_sec = now.timestamp()
print(now_sec)

2023-01-21 21:34:03.389455
1674365643.389455

In [9]:
now_2 = dt.fromtimestamp(now_sec)
print(now_2)

2023-01-21 21:34:03.389455

In [10]:
#
# add an hour 
now_1h = now_sec + (60.0 * 60.0)
now_3 = dt.fromtimestamp(now_1h)
print(now_3)

2023-01-21 22:34:03.389455

In [12]:
now_3 > now

True

In [11]:
midnight = dt.combine(dt.now(), dt.strptime("00:00:00", "%H:%M:%S").time())

In [12]:
print(midnight)

2023-01-21 00:00:00

In [14]:
print(dt.timestamp(midnight))

1674288000.0

In [17]:
type(midnight.hour)

int

In [21]:
now_1h - dt.timestamp(midnight)

66370.58653497696

In [24]:
import numpy as np
l = np.zeros(10)
print(l)

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]

In [35]:
from numpy.random import default_rng
rng = default_rng()
vals = rng.integers(100,size=10)
print(vals)

[59  9 17  0 16 39 56 11 56 21]

In [1]:
vals

NameError: name 'vals' is not defined